/* 1. Czcionka i ogólny wygląd strony */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #333;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
}

/* 2. Nagłówek */
header {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
    color: #333;
}

/* 3. Styl tabeli */
table {
    width: auto;
    max-width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
}

/* Komórki tabeli */
th, td {
    padding: 6px;
    font-size: 13px;
    text-align: center;
    border: 1px solid #ddd;
    white-space: nowrap;
}

/* Szerokości poszczególnych kolumn */
th:nth-child(1), td:nth-child(1) { width: 100px; }
th:nth-child(2), td:nth-child(2) { width: 80px; }
th:nth-child(3), td:nth-child(3) { width: 50px; }
th:nth-child(4), td:nth-child(4) { width: 50px; }
th:nth-child(5), td:nth-child(5) { width: 50px; }
th:nth-child(6), td:nth-child(6) { width: 50px; }
th:nth-child(7), td:nth-child(7) { width: 50px; }
th:nth-child(8), td:nth-child(8) { width: 50px; }
th:nth-child(9), td:nth-child(9) { width: 50px; }
th:nth-child(10), td:nth-child(10) { width: 50px; }
th:nth-child(11), td:nth-child(11) { width: 80px; }

th {
    background-color: #f2f2f2;
}

/* 4. Styl formularzy i pól wyboru */
input, .team-selector, .date-input {
    width: 230px;
    padding: 8px;
    margin: 8px 0;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}


input:focus, .team-selector:focus, .date-input:focus {
    border-color: #0078d7;
    outline: none;
}

/* 5. Styl przycisków */
.primary-btn, .buttons button, .form-container button {
    font-size: 16px;
    padding: 10px 18px;
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    min-width: 80px;
}

.primary-btn:hover, .buttons button:hover, .form-container button:hover {
    background-color: #005bb5;
}

/* 6. Kontenery */
.container, .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    max-width: 700px;
    background-color: white;
    border-radius: 8px;
    margin-top: 1px;
}

.form-container {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.container {
    margin-top: 15px;
}

/* 7. Stopka */
.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #888;
}

/* 8. Logo drużyny */
.team-selection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.team-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team-logo {
    width: 230px;
    height: 230px;
    margin: 4px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.team-selector {
    width: 250px;
    padding: 8px;
    margin: 8px 0;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* 9. Przycisk paginacji */
#pagination button {
    background-color: #0078d7;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    margin: 8px;
}

#pagination button:hover {
    background-color: #005bb5;
}

#pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}

#pagination button:disabled:hover {
    background-color: #ccc;
}

/* 10. Style dla ikon akcji */
.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0;
    padding: 5px;
}

.action-icon {
    width: 25px;
    height: 25px;
    transition: transform 0.2s ease-in-out;
}

.action-btn:hover .action-icon {
    transform: scale(1.1);
}

.edit-btn img, .delete-btn img, .yt-btn img {
    width: 25px;
    height: 25px;
}

.edit-btn, .delete-btn, .yt-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

/* 11. Responsywność */
@media screen and (max-width: 768px) {
    table {
        max-width: 100%;
    }

    th, td {
        padding: 4px;
        font-size: 12px;
    }
}
